
<style>	

body { 
	/*background: url({% static 'jpegs/Background.jpeg' %}) no-repeat;*/
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
background-size: 100%; /* Современные браузеры */ }

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color:black;
}
.everything{
	display: grid;
	/*grid-template-columns: 1fr;*/
	grid-template-rows: minmax(102px,auto) minmax(80px, auto) minmax(auto,auto) minmax(1180px,auto);
}

.navigat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	background-color: white;
	/*border:dashed white;*/
	justify-items:center; 
}
.div1 {
	/*border:dashed blue;*/
	align-self:center;

}
#contacts {
	color: black;
	font-size: 1.5rem;
	font-family: 'Montserrat Alternates', sans-serif;

}
.abc{
	background-color:white;
	padding-top:15px;
	border-top: 3px solid #ffffff;
	border-bottom: 5px solid #ffffff;
	font-size: 1.15rem;
	font-family: 'Comfortaa', regular;
	color: black;


}
@media only screen and (max-width : 320px) {
	.everything{
		grid-template-rows: minmax(102px,auto) minmax(80px, auto) minmax(2000px,auto);
	}
}

/*@media screen and (max-width: 1250px){
	.abc{
		grid-gap:1em;
	}
	.sotrudniki{
		grid-template-columns: 1fr !important;

		} */
	}

	@media screen and (max-width: 800px){
		.half{
			grid-gap: 0.1em;
		}
		.abc{
			grid-gap:0.1em;
		}
	}
	@media screen and (max-width: 700px){
		.abc{
			display: flex;
			/*margin:auto;*/
			justify-content: space-evenly;
			grid-gap:1em;
		}
	}

	.phrase{
		display: flex;
		box-sizing: content-box;
		font-family: 'Comfortaa', Regular;
		color: white;
		height: 70px;
		width: 600px;
		margin-top: 120px;
		margin-left: 50px;
		font-size: 2rem;

	}
	.half{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:1em;
		justify-items:center; 
		color: white;
		/*border: dashed white;*/
	}
	.slide{
		width: 1000px;
		height: 2000px;
	}
	.check{
		/*border:dashed red;*/
		align-self: center;
		color: white;
	}
	.first{
		margin-left:12%;
		margin-right:5%;
		/*border: dashed white; */
	}
	.second{
		margin-left:5%;
		margin-right:12%;
	}
	#ssilka{
		color:white;
	}
	main{
		display:grid;
	}
	.bgrd{
		display: block;
		background: url({% static 'jpegs/Background.jpeg' %}) no-repeat center center;
		background-size: cover;
		/*border:dashed white;*/
		height: 100%;
	}
	.blockbox1{
		justify-content: center; 
		display: box;
		height: 1500px;
		width:100%;
		border: dashed black; 
	}
	.slide{
		margin: auto; 
		width:900px;
		height: 1200px; 
	}
	.ramka{
		background: white; /* Цвет фона */
		/*outline: 2px solid #000; /* Чёрная рамка */*/
		/*border: 50px solid black;*/
		height: auto;
	}
	.fon{
		height: 100%;
		background: white; /* Цвет фона */
		outline: 2px solid #000; /* Чёрная рамка */
		border: 50px solid black;
	}
	.maincontent{
		display: grid;
		grid-template-rows: 100%;/* Размеры */
	}
	#comanda{
		display: grid;
		border:dashed black;
		justify-self: center;
		align-self: center;
		grid-template-rows: minmax(20px, auto);
		font-family: 'Comfortaa', regular;
		font-size: 2.5rem;
	}
	#zagolovok{
		display: grid;
		justify-self: center;
		align-self: center;
		grid-template-rows: minmax(20px, auto);
		font-family: 'Comfortaa', regular;
		font-size: 1.5rem;
	}
	.sotrudniki {
		display: grid;
		/* border: dashed red; */
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:minmax(auto, auto);
		grid-gap: 80px;
		grid-columns-gap: 50px;
		margin-top: 20px;
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 20px;
		/*border:dashed black;*/

	}
	.chel1{
	/* border:groove black; 
	border-left: outset black;	*/	
	width:100%;
	height:100%;

	grid-template-columns:(auto, auto); 
	align-self: center;
	justify-content: center;
}
#picture{
	align-self: center;
	width: 100%;
	height: 100%;
	/* border:dashed blue; */

}
#kartinka{
	width: 100%; 
	height: 100%;
}
#description1{
			/*display: grid;
			grid-template-columns: 1fr;*/
			height:auto;
			width:100%;
			justify-self: start;	
			/*border:dashed blue;*/
			font-family: 'Comfortaa', regular;
		}
		#photo{
			height: 100%;
			width:100%;
			/*border:solid black;*/
		}
		#line2{
			margin-top:50px;
		}
		#line3{
			margin-top:50px;
		}
		.tovar_name{
			font-size: 1.5rem;
			text-align: center;
			display: grid;
		}
		#opisanie{
			width: 100%;
			height: 50px;
			align-self: center;
			justify-self: center; 
			/*border:dashed red;*/

		}
		.interview {
			/*border: dashed black;*/
			text-align: center;
			font-family: 'Comfortaa', regular;
		}
		#knopka {
			width: 50%;
			/*border:dashed blue;*/
			padding-bottom: 10px; 

		}
		#ssil{
			color:white:;
		}
		#forms{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			/*		border: dashed red;*/
		}
		#formochka{
			margin:0px 50px 25px 50px;
		/*background-color: #D3D3D3;
		*/
	}
	.secondplace{
		background-color: #D3D3D3;
		grid-column-start: 2;
	}
	h2{
		margin-left:125px;
	}
	td{
		width: 500px;
		border-color:black;
	}
	th{
		text-align:center;
	}
	.cart{
		font-family: 'Comfortaa', regular;
	}
	.form-group{
		font-family: 'Comfortaa', regular;
	}
	.tovarname{
		/*border:dashed black;*/
		font-family: 'Comfortaa', regular;
		font-size: 3rem;
		justify-self: center;
		align-self:center; 
	}
	.tovar{
		height: 503px;
		width: 1850px;
		/*border:dashed black; */
		margin-left: 300px;
		margin-top: 80px; 
		display: grid;
		justify-content: space-between;
	}
	#image{
		height: 450px;
		width: 450px;
		/*border:dashed blue; */
		margin: 50px;
	}
	#description {
		height: 200px;
		width: 450px;
		border:dashed red; 
		margin: 100px;
		margin-right:400px;
		font-family: 'Comfortaa', regular;
		box-sizing: content-box;
	}	
	.photos{
		height: 150px;
		width: 450px;
		/*border:dashed green;*/
		margin-top: 25px;
		margin-left:350px;
		display: flex;
		justify-content: space-between;
	}
	#pic1{
		width: 140px;
		height: 100%;
		border:dashed black;
	}
	#pic2{
		width: 140px;
		height: 100%;
		border:dashed black;
	}
	#pic3{
		width: 140px;
		height: 100%;
		border:dashed black;
	}
	}
	img{
		height: 
	}
	.vkl3 > br,
	.vkl3 > a:nth-of-type(2),
	.vkl3 > br:target ~ a:nth-of-type(1) {display:none;}
	.vkl3 > br {position:fixed;}
	.vkl3 > br:target ~ a:nth-of-type(2) {display: block;}
	img[tabindex="0"] {
		cursor: zoom-in;
	}
	img[tabindex="0"]:focus {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: auto;
		height: auto;
		max-width: 900px;
		max-height: 1400px;
		margin: auto;
		box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
	}
	img[tabindex="0"]:focus,   убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние
	img[tabindex="0"]:focus ~ * {
		pointer-events: none;
		cursor: zoom-out;
	}
	@media screen and (max-width: 2000px){
		img[tabindex="0"]:focus{
			max-width: 600px;
			max-height: 850px;
		}
		@media screen and (max-width: 1700px){
			img[tabindex="0"]:focus{
				max-width: 600px;
				max-height: 900px;
			}
			</style>